.card {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0px 4px 25px -14px rgba(125, 125, 125, 1);
  display: flex;
  margin-bottom: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 380px;
  min-height: 115px
}

@media screen and (max-width: 500px) {
  .card {
    width: 100%;
  }
}
