.avatarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding-left: 15px;
  padding-right: 15px;
}

.title {
  margin-top: -5px;
}

.stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: 1px solid lightgray;
  flex-grow: 2;
  padding-left: 20px;
  padding-right: 20px;
}

.statName {
  font-size: 14px;
  margin-left: 8px;
  margin-bottom: 10px;
}

.emoji {
  font-size: 50px;
}

@media screen and (max-width: 500px) {
  .emoji {
    font-size: 36px;
  }
}
